/* App.css */

body {
  background: linear-gradient(to left, #333133b6, #e2dae2);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.button-container {
  margin-top: 20px;
  border-radius: 20px;
  width: 70px;
  margin: 10px;
  padding: 5px;
}

.fetch-button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.data-container {
  margin-top: 30px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
}

pre {
  background-color: linear-gradient(to left, #333133b6, #e2dae2);
  padding: 10px;
  border-radius: 100px;
  overflow: auto;
}

p {
  font-size: 16px;
}
/* App.css */
.postgres-data {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.postgres-data h1 {
  font-size: 24px;
  color: #333;
}

.postgres-data pre {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  margin-top: 10px;
}
